* {
    margin: 0px;
    padding: 0px;
}

.cal {
    width: 490px;
    height: 550px;
    margin-top: 25px;
    padding-top: 10px;
    background-color: hsl(0, 0%, 92%);
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#disp {
    border: none;
    width: 92%;
    height: 130px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: end;
    padding: 0 10px 0 10px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(107, 107, 107);
    background-color: hsl(0, 0%, 100%);
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 7px;
    width:100%;
}

.btn button {
    border: none;
    margin: 3px;
    padding: 2px;
    width: 115px;
    height: 65px;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(224, 224, 224);
    font-size: 45px;
    margin: 2px;
}
.btn .num{
    background-color:hsl(0deg 0% 100%);
    box-shadow: 0px .5px 0px 0px gray;
    color: rgb(71, 68, 68);
    font-size: 30px;
}
.btn .num:hover{
    background-color:hsl(0deg 0% 97.65%);
    cursor: pointer;
}
.btn .top{
    background-color: hsl(0deg 0% 97.65%);
    color: rgb(92, 92, 92);
    box-shadow: 0px .5px 0px 0px gray;
    font-size: 35px;
}
.btn .top:hover{
    background-color:hsl(0deg 2% 95.65%);
    cursor: pointer;
}
.btn .ope{
    background-color: hsl(0deg 0% 97.65%);
    color: rgb(92, 92, 92);
    box-shadow: 0px .5px 0px 0px gray;
    font-size: 40px;
}
.btn .ope:hover{
    background-color:hsl(0deg 2% 95.65%);
    cursor: pointer;
}
.btn .point{
    font-size: 70px;
    background-color:hsl(0deg 0% 100%);
    box-shadow: 0px .5px 0px 0px gray;
    color:rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn .point:hover{
    background-color:hsl(0deg 0% 97.65%);
    cursor: pointer;
}
.eq{
    background-color: hsl(205.82deg 100% 30.98%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eq:hover{
    background-color: hsl(206, 83%, 36%);
    cursor: pointer;
}
@media (max-width:414px){
    .cal{
        left: 0px;
        width: 405px;
        height: 650px;
    }
    .btn {
        top: 150PX;
        width: 395px;
    }
    .btn button {
        width: 85px;
        height: 90px;
        border-radius: 28px;
        font-size: 30px;
        font-weight: bold;
        color: red;
        font-size: 45px;
    }
    #disp {
        margin-top: 20px;
        width: 340px;
        height: 96px;
    }
}